---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="details"><span class="tags">{% for tag in post.tags %}<a href="{{ site.url }}/tags#{{ tag | cgi_escape }}" title="Pages tagged {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}{% endunless %}{% endfor %}</span><span class="post-date">{{ post.date | date_to_string }}</span></span>
    
     <div>
      {% if post.fullview %}
        {{ post.content }}
      {% else %}
        {% if post.shortinfo %}
        {{ post.shortinfo }}
        {% elsif post.description %}
        {{ post.description }}
        {% else %}
        {{ post.excerpt }}
        {% endif %}
      {% endif %}
    </div>
    
  <br>
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">이전</a>
  {% else %}
    <span class="pagination-item older">이전</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">다음</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">다음</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">다음</span>
  {% endif %}
</div>
